{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="content" style="margin: 20px;">
    <h1>О нас</h1>
    <p>Мы находимся по адресу:</p>
    <p>Республика Дагестан, г. Каспийск, Ленина 32а</p>

    <p>Наш номер телефона:</p>
    <p>+79414025641</p>

    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A42dc9248565dd0d1d209fb885c16dd2e089eb90accdd1a98790ce4379bfebedf&amp;width=700&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

</div>
{% endblock %}
