<header class="p-3 text-bg-dark">
    <div class="items">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/shop" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
               style="margin-right: 40px; font-size: 20px;">
                Sport market
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/shop/" class="nav-link px-2 text-secondary">Главная</a></li>
                <li><a href="/shop/cart" class="nav-link px-2 text-white">Корзина</a></li>
                <li><a href="/shop/about" class="nav-link px-2 text-white">О нас</a></li>
            </ul>

        </div>
    </div>
</header>
