{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for slide in slides %}
        {% if forloop.first %}
        <div class="carousel-item active">
            <img src="{{ slide.image.url }}" class="d-block w-100 h-100" alt="...">
        </div>
        {% else %}
        <div class="carousel-item">
            <img src="{{ slide.image.url }}" class="d-block w-100 h-100" alt="...">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<h1 style="margin-left: 1%;">Наши товары</h1>

<div class="cont" style="display: flex; margin-left: 1%;">
    <div class="bd-example m-0 border-0">
        <div class="list-group" style="width: 270px;">
            {% for category in categories %}
            <a href="{% url 'shop:index' %}?filt={{ category.id }}" class="list-group-item list-group-item-action">
                {{ category.category }}
            </a>
            {% endfor %}
            <a href="{% url 'shop:index' %}">
                <input type="button" class="btn btn-primary" style="width: 100%;
                height: 40px; margin-top: 4%" value="Показать всё">
            </a>
        </div>

    </div>

    <div class="items-list">
        <div class="cards">
            {% for item in items %}
            <div class="card">

                <div class="images">
                    <div class="slider">
                        <a href="{% url 'shop:item_detail' item.id %}">
                            <div class="slides">
                                {% for photo in item.images.all %}
                                <div class="slide" style='background-image: url({{ photo.image.url }});'></div>
                                {% endfor %}
                            </div>
                        </a>
                        <button class="prev" onclick="changeSlide(-1, {{ item.id }} - 1)">&#10094;</button>
                        <button class="next" onclick="changeSlide(1, {{ item.id }} - 1)">&#10095;</button>
                    </div>
                </div>

                <div class="card-body">
                    <a class="card-title" href="{% url 'shop:item_detail' item.id %}">{{ item.title }}</a>
                    <p class="card-price">{{ item.price }} ₽</p>
                    <a href="{% url 'shop:cart_add' item.id %}" class="btn btn-primary">В корзину</a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% include "pagination.html" with page=pages %}

    </div>

</div>

<script src="{% static 'js/script1.js' %}"></script>
{% endblock %}
