{% extends "base.html" %}

{% load static %}

{% block title %}{{ item.title }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href='{% static "css/q.css" %}'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ item.title }}</h1>
    </div>

    <div class="info">
        <a href="#">Рейтинг: {{ item.rating }}</a>
        <a href="#">{{ comments|length }}
            {% if comments|length == 1 %}
            отзыв
            {% elif comments|length %}
            отзыва
            {% else %}
            отзывов
            {% endif %}</a>
    </div>

    <div class="images">
        <div class="slider">
            <div class="slides">
                {% for photo in images %}
                <div class="slide" style='background-image: url({{ photo.image.url }});'></div>
                {% endfor %}
            </div>
            <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
            <button class="next" onclick="changeSlide(1)">&#10095;</button>
        </div>

        <div>
            1
        </div>

        <div class="price_box">
            <h2>{{ item.price }} ₽</h2>
            <a href="{% url 'shop:cart_add' item.id %}"><input class="add_to_cart_btn" value="В корзину" type="button"></a>
        </div>

    </div>

    <div class="about_item">
        <h2 style="margin-top: 3%; border-bottom: 1px solid #ccc; margin-bottom: 2%;">О товаре</h2>
        <h5 style="font-weight: normal; font-size: 16px; margin-top: -1%;">{{ item.description | linebreaks }}</h5>
    </div>

    <h2 style="margin-top: 3%; border-bottom: 1px solid #ccc; padding-bottom: 1%;">Отзывы о товаре</h2>
    <a href="{% url 'shop:add_comment' item.id %}"><input class="add_comment_btn" value="Написать отзыв"
                                                          type="button"></a>

    {% for comment in comments %}
    <div class="comment_box">
        <div class="user-info">
            <img src="avatar.jpg" alt="User Avatar">
            <p>{{ comment.name }}</p>
        </div>
        <div class="review-info">
            <p class="date">{{ comment.created }}</p>
            <div class="rating">
                <span class="star">⭐</span>
                <span class="star">⭐</span>
                <span class="star">⭐</span>
                <span class="star">⭐</span>
                <span class="star">⭐</span>
            </div>
            <p class="content">{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
