{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}{{ item.title }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href='{% static "css/q2.css" %}'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ item.title }}</h1>
    </div>

    <div class="info">
        <a href="#">Рейтинг: {{ average }}</a>
        <a href="#">{{ comments|length }}
            {% if comments|length == 1 %}
            отзыв
            {% elif comments|length %}
            отзыва
            {% else %}
            отзывов
            {% endif %}</a>
    </div>

    <div class="images">
        <div class="slider">
            <div class="slides">
                {% for photo in images %}
                <div class="slide" style='background-image: url({{ photo.image.url }});'></div>
                {% endfor %}
            </div>
            <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
            <button class="next" onclick="changeSlide(1)">&#10095;</button>
        </div>

        <div class="price_box">
            <h2>{{ item.price }} ₽</h2>
            <a href="{% url 'shop:cart_add' item.id %}"><input class="add_to_cart_btn" value="В корзину" type="button"></a>
        </div>

    </div>

    <div class="about_item">
        <h2 style="margin-top: 3%; border-bottom: 1px solid #ccc; margin-bottom: 2%;">О товаре</h2>
        <h5 style="font-weight: normal; font-size: 20px; margin-top: -1%;">{{ item.description | linebreaks }}</h5>
    </div>

    <h2 style="margin-top: 3%; border-bottom: 1px solid #ccc; padding-bottom: 1%;">Отзывы о товаре</h2>
    <a href="{% url 'shop:add_comment' item.id %}"><input class="add_comment_btn" value="Написать отзыв"
                                                          type="button"></a>

    {% if comments|length == 0 %}
    <h3 align="center" style="color: #ddd">Отзывов нет</h3>
    {% else %}
    {% for comment in comments %}
    <div class="comment_box">

        <div class="user-info">
            <h3>{{ comment.name }}</h3>
        </div>
        <div class="review-info">
            {{ comment.created }}
            <div class="rating">
                <span class="star">{{ "⭐"|multiply_string:comment.rate  }}</span>
            </div>
            <p style="font-size: 18px; margin-top: 5px;">{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=pages items=comments %}
    {% endif %}
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
